<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Session</title>
</head>

<body>
    <% if (isLogin) { %>
        <h3>
            <%= user%>님 환영합니다
        </h3>
        <button onclick="location.href='logout'">로그아웃</button>
        <% } else { %>
            <button onclick="location.href='login'">로그인 페이지</button>
            <button onclick="location.href='signup'">회원가입 페이지</button>
            <% } %>
                <script>

                </script>

</body>

</html>