<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>로그인</title>
</head>

<body>
    <form onsubmit="sign_in(event)" name="signIn-form">
        <input type="text" name="id" placeholder="아이디"><br>
        <input type="password" name="pw" placeholder="비밀번호"><br>
        <button type="submit">로그인</button>
    </form>

    <script>
        async function sign_in(e) {
            e.preventDefault();

            const form = document.forms['signIn-form'];
            try {
                const res = await axios({
                    method: "POST",
                    url: '/signIn',
                    data: {
                        userid: form.id.value,
                        pw: form.pw.value,
                    }
                });
                if (res.data.result) {
                    alert(`${res.data.data.name}님 로그인 되었습니다`);
                    document.location.href = '/';
                }
                else alert("회원정보가 일치하지 않습니다");
            } catch (error) {
                console.log(error);
            }
        }
    </script>
</body>

</html>