/* 실습 0 */
/* .one {
  height: 50px;
}
h3 {
  background-color: black;
  color: white;
  width: fit-content; 
  
} */

/* 실습 1 */
/* * {
  color: white;
  background-color: gray;
}

span {
  background-color: red;
}

#first {
  background-color: blue;
}

.second {
  background-color: green;
} */

/* 실습 2 */
/* 야생의 사자 */
.zoo + .lion {
  background-color: red;
}
/* 사파리 안의 사자 */
.zoo .lion {
  background-color: greenyellow;
  font-weight: bold;
}
/* 호랑이 */
#tiger {
  background-color: yellow;
}
/* 사자 */
.lion {
  color: sienna;
}
/* 팬더 */
#tiger + li {
  background-color: skyblue;
}
/* 사육사 */
.zoo li.lion ~ li {
  background-color: orange;
}

/* 실습 3*/
h1:hover {
  color: red;
}
a:active {
  background-color: blue;
}
input:focus {
  background-color: orange;
}

/* 실습 4 */
.stripes *:nth-child(2n) {
  background-color: yellow;
}
.stripes *:nth-child(2n + 1) {
  background-color: navy;
  color: white;
}

/* 실습 5 */
.box::before {
  content: "택시";
}
.box::after {
  content: "빨리";
}
