/* 실습 1 */
/* .one {
  height: 50px;
}
h3 {
  background-color: black;
  color: white;
  width: fit-content; 
  
} */

/* 실습 2 */
/* * {
  color: white;
  background-color: gray;
}

span {
  background-color: red;
}

#first {
  background-color: blue;
}

.second {
  background-color: green;
} */

/* 실습 3 */
