/* div {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  background-color: lightgray;
} */

/* 전체 선택자 */
* {
  color: red;
}

/* 태그 선택자 */
li {
  color: rebeccapurple;
}
/* span 태그는 블록 태그. 알아서 컨텐츠에 맞게 조정 */
span {
  background-color: brown;
}

/* class 선택자 */
.orange {
  color: orange;
}
/* id 선택자 */
#orange {
  background-color: #000fff;
}
