<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<form id="form_login">
    <input type="text" placeholder="아이디" name="id" /> <br />
    <input type="password" placeholder="비밀번호" name="password" /> <br />
    <button type="button" onclick="login();">로그인</button>
</form>
<script>
    function login() {
        const form = document.getElementById('form_login');
        const data = {
            userid: form.id.value,
            password: form.password.value,
        };
        axios({
            method: 'POST',
            url: '/login',
            data,
        }).then((res) => {
            if (res.data) {
                alert('로그인 성공!');
                location.href='/profile';
            } else {
                alert('로그인 실패!');
                form.reset();
            }
        });
    }
</script>
</body>
</html>






