<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Register</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<form id="form_register">
    <input type="text" placeholder="아이디" name="id" /> <br />
    <input type="password" placeholder="비밀번호" name="password" /> <br />
    <input type="text" placeholder="이름" name="name" />
    <button type="button" onclick="register();">회원가입</button>
</form>
<script>
    function register() {
        const form = document.getElementById('form_register');
        const data = {
            userid: form.id.value,
            password: form.password.value,
            name: form.name.value,
        };
        axios({
            method: 'POST',
            url: '/register',
            data,
        }).then((res) => {
            alert('회원 가입 완료!');
            location.href='/login';
        });
    }
</script>
</body>
</html>