<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>๋ฉ์ธ ํ๋ฉด</title>
</head>

<body>
    <h1>ํ์ฝํฉ๋๋ค๐</h1>
    <a href="/user/signin">๋ก๊ทธ์ธ</a><br>
    <a href="/user/signup">ํ์๊ฐ์</a>
</body>

</html>