* {
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 700;
}
body {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  display: inline;
}
h1 {
  text-align: center;
}

header {
  width: 100%;
  height: 60px;
  background-color: #ddd;
  padding: 0 20px;
  margin-bottom: 50px;
  align-items: center;
}
/* header1 */
.header1 {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}
/* header2 */
.header2 {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}
.header2 ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
/* header3 */
.header3 {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}
.header1 ul,
.header3 ul,
.header4 .menu-left ul {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

/* header4 */
.header4 {
  display: flex;
  justify-content: space-between;
}
.header4 .menu-left {
  display: flex;
  justify-content: space-between;
}
.menu-left > span {
  width: 25%;
}
.menu-right {
  display: flex;
  justify-content: space-between;
}
