<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <% for(var i=data;i<=9;i++) { %>
        <h3>
            <%= i %> 단
        </h3>
        <% for (var j=1; j<=9; j++) {%>
            <%= i +' x ' + j + ' '+ '=' + ' '+ i*j %><br>
                <% } %>
                    <% } %>

</body>

</html>