<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <!-- 파일 업로드는 post 방식으로 해야 함 -->
    <!-- multer를 이용할 때는 enctype="multipart/form-data" 꼭 해야 함 -->
    <h1>Single File Upload</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <!-- submit으로 보낼 때는 name 있어야 함 -->
        <input type="file" name="userFile">
        <br>
        <input type="text" name="title">
        <br>
        <button type="submit">Upload</button>
    </form>

    <h1>Multi File Upload (array)</h1>
    <form action="/upload/array" method="post" enctype="multipart/form-data">
        <input type="file" name="userFiles" multiple>
        <br>
        <input type="text" name="title">
        <br>
        <button type="submit">Upload</button>
    </form>

    <h1>Multi File Upload (fields)</h1>
    <form action="/upload/fields" method="post" enctype="multipart/form-data">
        <input type="file" name="userFile1">
        <br>
        <input type="text" name="title1">
        <br>
        <input type="file" name="userFile2">
        <br>
        <input type="text" name="title2">
        <br>
        <button type="submit">Upload</button>
    </form>

    <h1>Axios Dynamic File Upload</h1>
    <input type="file" name="dynamic-userFile" id="dynamic-file">
    <br>
    <button type="button" onclick="file_upload()">Upload</button>
    <div class="result"></div>
    <script>
        const resultBox = document.querySelector(".result");
        function file_upload() {
            const file = document.getElementById('dynamic-file');
            console.log(file.files[0]);

            //!
            const formData = new FormData();
            // append의 이름('dynamic-userFile')이 받는 쪽의 이름이 된다.
            formData.append('dynamic-userFile', file.files[0]);

            axios({
                method: 'POST',
                url: '/dynamicFile',
                data: formData,
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            }).then((res) => {
                console.log("response", res);
                resultBox.innerHTML = `<div><img src=${res.data.path}></div>`;
            });
        }
    </script>
</body>

</html>