<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form 전송 복습</title>
    <style>
        span {
            color: blue;
            font-weight: 700;
        }
    </style>
</head>

<body>
    <h2>
        <%= title %>
    </h2>
    <div>
        <span>
            <%= userInfo.id %>
        </span>님 환영합니다
    </div>
    <div>
        비밀번호는 <span>
            <%= userInfo.password %>
        </span>입니다
    </div>
    <br>
    <a href="/">홈으로 이동</a>
</body>

</html>