<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
</head>

<body>
    <form name="login-form">
        <fieldset>
            <legend>LOGIN</legend>
            <input type="text" id="id" placeholder="ID"><br>
            <input type="password" id="password" placeholder="PASSWORD">
        </fieldset>
        <button type="button">LOGIN</button>
    </form>
</body>

</html>