<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGN UP</title>
</head>

<body>
    <form name="signup-form">
        <fieldset>
            <legend>SIGN UP</legend>
            <input type="text" id="id" placeholder="ID"><br>
            <input type="password" id="password" placeholder="PASSWORD">
            <input type="text" id="name" placeholder="이름">
        </fieldset>
        <button type="button">SIGN UP</button>
    </form>
</body>

</html>