<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>SIGN UP</title>
</head>

<body>
    <form name="signup-form">
        <fieldset>
            <legend>SIGN UP</legend>
            <input type="text" id="userid" placeholder="ID"><br>
            <input type="password" id="pw" placeholder="PASSWORD"><br>
            <input type="text" id="name" placeholder="이름">
        </fieldset>
        <button type="button" onclick="signupFunc()">SIGN UP</button>
    </form>

    <script>
        async function signupFunc() {
            const userid = document.getElementById("userid").value;
            const pw = document.getElementById("pw").value;
            const name = document.getElementById("name").value;
            const data = {
                userid,
                pw,
                name,
            };

            const result = await axios({
                url: '/signup',
                method: "POST",
                data,
            });

            if (result.data.result) {
                document.location.href = '/signin';
            }
        }
    </script>
</body>

</html>