<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>JWT</title>
</head>

<body>
    <div id="info"></div>

    <script>
        (async function () {
            const token = localStorage.getItem("login");
            const info = document.querySelector('#info')
            let data = '';
            if (!token) {
                data = `<button onclick="location.href = '/login'">로그인 페이지</button>`;
            } else {
                const res = await axios({
                    method: 'POST',
                    url: '/token',
                    headers: {
                        Authorization: `Bearer ${token}`,
                    }
                });
                if (res.data.result) {
                    data = `<h3> ${res.data.name}님 환영합니다 </h3> <button type="button" onclick="logout()">로그아웃</button>`;
                }
            }
            info.innerHTML = data;
        })();

        function logout() {
            localStorage.clear();
            document.location.reload();
        }
    </script>
</body>

</html>