<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/socket.io/socket.io.js"></script>
    <title>01. Socket 연습</title>
</head>

<body>
    <h2>Hello World!</h2>
    <button onclick="hello()">hello</button>
    <button onclick="study()">study</button>
    <button onclick="bye()">bye</button>
    <div id="message"></div>

    <script>
        const socket = io();
        const message = document.getElementById('message');

        function hello() {
            socket.emit('hello', { name: 'client', message: 'hello' }, (res) => {
                message.textContent = 'hello: 안녕하세요';
            });
        }
        function study() {
            socket.emit('study', { name: 'client', message: 'study' }, (res) => {
                message.textContent = 'study: 공부합시다';
            });;
        }
        function bye() {
            socket.emit('bye', { name: 'client', message: 'bye' }, (res) => {
                message.textContent = 'bye: 잘가';
            });
        }
    </script>
</body>

</html>