<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Axios Get</title>
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        $(document).ready(function () {
            setDateBox();
        });
        function setDateBox() {
            var date = new Date();
            var start_year = '1940';
            var current_year = date.getFullYear();

            for (var y = (start_year); y <= (current_year); y++) {
                $("#year").append("<option value='" + y + "'>" + y + "</option>");
            }

            for (var i = 1; i <= 12; i++) {
                if (String(i).length == '1') {
                    $("#month").append("<option value='" + "0" + i + "'>" + "0" + i + "</option>");
                } else {
                    $("#month").append("<option value='" + i + "'>" + i + "</option>");
                }
            }

            for (var i = 1; i <= 31; i++) {
                if (String(i).length == '1') {
                    $("#day").append("<option value='" + "0" + i + "'>" + "0" + i + "</option>");
                } else {
                    $("#day").append("<option value='" + i + "'>" + i + "</option>");
                }
            }
        }
    </script>
</head>

<body>
    <!-- axios는 form에 action 속성 있으면 안됨 -->
    <form name="register" id="register">
        <label for="name">이름</label>
        <input type="text" id="name">
        <br>
        <fieldset>
            <legend>성별</legend>
            <input type="radio" name="gender" value="남자">
            <label for="m">남자</label>
            <input type="radio" name="gender" value="여자">
            <label for="f">여자</label>
        </fieldset>
        <br>
        <fieldset>
            <legend>생년월일</legend>
            <select name="year" id="year">

            </select>
            <label for="year">년</label>
            <select name="month" id="month">

            </select>
            <label for="month">월</label>
            <select name="day" id="day">

            </select>
            <label for="day">일</label>
        </fieldset>
        <br>
        <fieldset>
            <legend>관심사</legend>
            <input type="checkbox" name="interest" value="여행">
            <label for="travel">여행</label>
            <input type="checkbox" name="interest" value="패션">
            <label for="fashion">패션</label>
            <input type="checkbox" name="interest" value="음식">
            <label for="food">음식</label>
        </fieldset>
        <br>
        <button type="button" onclick="axiosGet()">회원가입</button>
    </form>

    <div class="result"></div>

    <script>
        function axiosGet() {
            const resultBox = document.querySelector('.result');
            const form = document.forms['register'];
            // interest 값 받기 위한 코드 (name으로 불러와지지 않으므로 id 지정)
            const formId = document.getElementById('register');
            const interest = [];
            const checked = formId.querySelectorAll('input[type="checkbox"]:checked');
            checked.forEach((element) => {
                interest.push(element.value);
            })
            // console.log('interest', interest);

            const data = {
                name: form.name.value,
                gender: form.gender.value,
                year: form.year.value,
                month: form.month.value,
                day: form.day.value,
                // interest: form.interest.value
                //* -> checkbox는 값을 그냥 받아올 수 없음. for문 외에도 다른 방법 존재
                interest
            };

            if (form.name.value === '') {
                alert('이름을 입력해주세요');
                return;
            }
            axios({
                method: 'GET',
                url: '/axiosGetResult',
                params: data
            }).then((res) => {
                console.log("reponse", res);
                // const { data } = res.data; 하게 되면 res.data.data.name을 data.username으로 변경 가능
                // axios가 config, data, header 등을 보내는 객체들을 res에 대입했음
                // res.data로 접근하면 배열이 나옴 res.data.data로 한 이유는 index.js에서 send할 때 data:req.query로 보냈기 때문에 name을 접근할 때 res.data.data.name으로 접근해야 한다.
                resultBox.textContent = `${res.data.data.name}님!
                성별: ${res.data.data.gender} / 
                생년월일: ${res.data.data.year}년 ${res.data.data.month}월 ${res.data.data.day}일 /
                관심사: ${res.data.data.interest}이 맞나요?`;
            })
        }
    </script>
</body>

</html>