<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>회원가입</title>
</head>

<body>
    <h1>회원가입</h1>
    <form name="signup-form">
        <label for="id">ID: </label><input type="text" id="userid" placeholder="id"><br>
        <label for="pw">PASSWORD: </label><input type="password" id="pw" placeholder="password"><br>
        <label for="name">이름: </label><input type="text" id="name"><br><br>
        <button type="button" onclick="signup()">회원가입</button>
    </form>

    <script>
        const form = document.forms['signup-form'];

        function signup() {
            axios({
                method: 'POST',
                url: '/user/signup',
                data: {
                    userid: form.userid.value,
                    pw: form.pw.value,
                    name: form.name.value
                }
            }).then((res) => {
                console.log('signup', res);
                if (res.data.result) {
                    alert('회원가입 성공');
                    window.location.href = '/user/signin';
                }
            });
        }
    </script>

</body>

</html>